.navigation {
  display: flex;
  height: 65px;
  width: 100%;
  color: white;
  // color: #e77111;
    // font-size: 200px;
  font-weight: 500;
  // background: white;
  background-image: linear-gradient(to right bottom, #e4dbd3, #cbbebb, #b1a3a4, #93898f, #75717a, #6d6b74, #64646e, #5c5e68, #686771, #746f7a, #817882, #8d818a);
  justify-content: space-between;

  
//   background-color: burlywood;
span {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    color: rgb(3, 0, 0);
    align-items: center;  
    margin-left: 30px;
  background: #e77111;
  padding: 5px 7px;
  border-Radius: 10px;
  margin-Top: 3px;
  margin-Bottom: 3px;
    
    
}
  ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    align-items: center;

    a{
        text-decoration: none;
        padding: 0 20px 0 20px;
        font-size: 20px;
        // color: $text-color;
  color: rgb(3, 0, 0);


        &:hover {
            color: $text-link;
        }
    }
  }

  .menu-container {
    align-self: center;
  }
}

@media screen and (max-width: 900px) {
  .navigation {
   display: flex;
   flex-direction: column;
  height: 250px;
  width: 100%;
  color: $text-color;
  // justify-content: space-between;
    // .menu-container {
    //   width: 300px;
    //   height: calc (100% - 65%);
    //   background: white;
    //   position: absolute;
    //   top: 56px;
    //   left: 0px;
    //   transition: 300ms ease left;
    // }

  
  }
    .menu-contain {
      display: flex;
      flex-direction: column
    }
}